@model List<Odjeca.Models.ViewModels.OrderDetailsViewModel>
@using Odjeca.Utility
@{
    ViewData["Title"] = "ManageOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4 backgroundWhite">
    <h2 class="text-info">Manage Order's</h2>
    <form method="post">
        <br />
        @if (Model.Count > 0)
        {
            <div class="container row bg-white p-2 border mb-3 rounded">
                @foreach (var item in Model)
                {
                    <div class="col-12 pb-3 pt-3">
                        <div class="backgroundWhiteBorder10Padding">
                            <div class="row">
                                <div class="col-12 col-sm-4">
                                    Order Number: @item.OrderHeader.Id
                                    <ul class="text-info list-unstyled">
                                        @foreach (var details in item.OrderDetails)
                                        {
                                            <li class="ml-2">@details.Name x @details.Count</li>
                                        }
                                    </ul>
                                </div>
                                <div class="col-12 col-sm-4 pb-2">
                                    <div class="input-group pb-2">
                                        <div class="input-group-append">
                                            <span class="input-group-text">Time</span>
                                        </div>
                                        <input type="text" class="border rounded form-control bg-white" readonly value="@item.OrderHeader.PickUpTime" />
                                    </div>
                                    @{
                                        var comment = item.OrderHeader.Comments;
                                        if (comment == null || comment.Trim().Length == 0)
                                        {
                                            item.OrderHeader.Comments = "No instructions";
                                        }
                                    }
                                    <textarea asp-for="@item.OrderHeader.Comments" readonly class="rounded border form-control w-100 h-75 bg-white"></textarea>
                                </div>
                                <div class="col-12 col-sm-3 mt-2 mt-sm-0 d-flex align-content-center">
                                    @if (item.OrderHeader.Status.Equals(SD.StatusSubmitted))
                                    {
                                        <div class="col-12">
                                            <button type="submit" asp-action="OrderPrepare" asp-route-OrderId="@item.OrderHeader.Id" class="btn btn-info form-control mb-3">
                                                <i class="fas fa-check">&nbsp;Start Packing</i>
                                            </button>
                                            <button type="submit" asp-action="OrderCancel" asp-route-OrderId="@item.OrderHeader.Id" class="btn btn-danger form-control mb-3">
                                                <i class="fas fa-times">&nbsp;Cancel  Order</i>
                                            </button>
                                        </div>
                                    }
                                    else
                                    {
                                        @if (item.OrderHeader.Status.Equals(SD.StatusInProcess))
                                        {
                                            <div class="col-12">
                                                <button type="submit" asp-action="OrderReady" asp-route-OrderId="@item.OrderHeader.Id" class="btn btn-success form-control mb-3">
                                                    <i class="fas fa-flag-checkered">&nbsp;Order Ready</i>
                                                </button>
                                                <button type="submit" asp-action="OrderCancel" asp-route-OrderId="@item.OrderHeader.Id" class="btn btn-danger form-control mb-3">
                                                    <i class="fas fa-times">&nbsp;Cancel  Order</i>
                                                </button>
                                            </div>
                                        }

                                        @if (item.OrderHeader.Status.Equals(SD.StatusCancelled))
                                        {
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-danger form-control mb-3">
                                                    <i class="fas fa-times">&nbsp;Order Canceled</i>
                                                </button>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </form>
</div>