@model Odjeca.Models.ViewModels.OrderListViewModel
@using Odjeca.Utility
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post" class="container backgroundWhite">
    <br />
    <h2 class="text-info">Order Pickup</h2>
    <div class="border backgroundWhite">
        <div class="container border border-secondary">
            <div class="row container p-2">
                <div class="col-12 col-sm-11">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            @Html.Editor("searchName", new { htmlAttributes = new { @class = "form-control", @placeholder = "Name..." } })
                        </div>
                        <div class="col-12 col-sm-4">
                            @Html.Editor("searchPhone", new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone..." } })
                        </div>
                        <div class="col-12 col-sm-4">
                            @Html.Editor("searchEmail", new { htmlAttributes = new { @class = "form-control", @placeholder = "Email..." } })
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-1">
                    <div class="row pl-3 pr-3 pl-sm-0 pr-sm-0">
                        <button type="submit" name="submit" value="Search" class="btn btn-info form-control">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div>
            @if (Model.Orders.Count() > 0)
            {
                <div class="table-responsive">
                    <table class="table table-striped border">
                        <tr class="table-secondary">
                            <th>
                                @Html.DisplayNameFor(m => m.Orders[0].OrderHeader.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(m => m.Orders[0].OrderHeader.PickupName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(m => m.Orders[0].OrderHeader.ApplicationUser.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(m => m.Orders[0].OrderHeader.PickUpTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(m => m.Orders[0].OrderHeader.OrderTotal)
                            </th>
                            <th>
                                Total Items
                            </th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model.Orders)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => item.OrderHeader.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.OrderHeader.PickupName)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.OrderHeader.ApplicationUser.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.OrderHeader.PickUpTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.OrderHeader.OrderTotal)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.OrderDetails.Count)
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success anchorDetail" data-id="@item.OrderHeader.Id" data-toggle="modal">
                                        <i class="far fa-list-alt"></i> Details
                                    </button>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div page-model="@Model.PagingInfo" page-classes-enabled="true" page-class="btn border"
                     page-class-normal="btn btn-light" page-class-selected="btn btn-info active" class="btn-group float-right">
                </div>
                <br />
            }
            else
            {
                <p>No Category Exits!</p>
            }
        </div>
    </div>
</form>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div id="modal-details" class="modal-dialog-centered modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-light justify-content-center">
                <h5 class="modal-title">Order Details</h5>
            </div>
            <div class="modal-body justify-content-center" id="myModalContent">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myOrderStatus" tabindex="-1" role="dialog" aria-hidden="true">
    <div id="modal-details" class="modal-dialog-centered modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info text-light justify-content-center">
                <h5 class="modal-title">Order Status</h5>
            </div>
            <div class="modal-body justify-content-center" id="myOrderStatusContent">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        var urlString = '@Url.Action("GetOrderDetails", "Order")';

        $(function () {
            $(".anchorDetail").click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');

                $.ajax({
                    type: "GET",
                    url: urlString + "/" + id,
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#myModal').modal('show');
                    },
                    error: function () {
                        alert("Dynamic content load failed");
                    }
                });
            });
        });
    </script>
}