@model IEnumerable<StoreItem>

@{
    var item = Model.ToList().OrderByDescending(i => i.ArrivalDate);
}

<div class="container-fluid d-flex justify-content-center">
    <p class="display-4">New arrivals</p>
</div>
<div class="card-deck pb-3 pt-3 m-0 p-0 mt-1 ml-5 mr-5">
    @for (int i = 0; i < 5; ++i)
    {
        <div class="card col-12 col-sm-5 col-md-3 mt-2 card-custom">
            <img class="card-img-top img-thumbnail border-0 m-auto cardCustomImage" src="@item.ToList()[i].Image" alt="Card image cap">
            <div class="card-body">
                <div class="row">
                    <h5 class="card-title">@item.ToList()[i].Name</h5>
                    @{
                        var description = item.ToList()[i].Description.Length > 50 ?
                            item.ToList()[i].Description.Substring(0, 50) + "..." : item.ToList()[i].Description;
                    }
                </div>
                <div class="row card-description">
                    <p class="card-text">@description</p>
                </div>
                <div class="row">
                    <div class="itemPrice text-left col-6">
                        <a asp-area="Customer" asp-controller="Store" asp-action="Details" asp-route-id="@item.ToList()[i].Id" class="btn btn-success form-control">Details</a>
                    </div>
                    <div class="itemPrice text-right col-6">
                        <p>@item.ToList()[i].Price$</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>